* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

html {
    font-family: 'Quicksand', sans-serif;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    width: 100%;
    box-sizing: border-box;
}


body {
    width: 100%;
    box-sizing: border-box;
    font-size: 1.6rem;

}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    position: sticky;
    top: 0;
    background-color: white;
    min-height: 4rem;
    padding: 2rem 5rem;
    box-sizing: border-box;
}

.header__links {
    width: 100%;
    display: flex;
    gap: 2rem;
    justify-content: space-between;
}

.start {
    display: flex;
    gap: 10rem;
}

.links_end,
.links_start {
    display: flex;
    gap: 2rem;
}

.container {
    width: 100%;
    justify-content: center;
    margin-top: 2rem;
}

.title {
    text-align: center;
    font-size: 5rem;
    margin: auto;
}

.users {
    margin-top: 3rem;
    margin-left: 5%;
    width: 90%;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 1.6rem;
}

.user {
    width: 100%;
    font-family: 1.4rem;
    display: flex;
    gap: 2rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 0.5rem;
    border-bottom: none;
}



.link {
    outline: none;
    border: none;
    background: none;
    border: 0;
    font: inherit;
    width: 100%;
    cursor: pointer;
    color: white;
    background-color: #dc5b3e;
    max-width: 10rem;
    border-radius: 4px;
    text-align: center;
    padding: .5rem;
    text-decoration: none;
}
.link-disable{
    color: white;
    background-color: #3b3b3bbd;
}
.links {

    cursor: pointer;
    color: #dc5b3e;
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 600;
}
