* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

html {
    font-family: 'Quicksand', sans-serif;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}


body {
    padding: 1rem 5rem;
    box-sizing: border-box;
    font-size: 1.6rem;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    position: sticky;
    top: 0;
    background-color: white;
    min-height: 4rem;
    padding: 2rem 5rem;
    box-sizing: border-box;
}

.header__links {
    width: 100%;
    display: flex;
    gap: 2rem;
    justify-content: space-between;
}

.start {
    display: flex;
    gap: 10rem;
}

.links_end,
.links_start {
    display: flex;
    gap: 2rem;
}

.container {
    width: 100%;
    justify-content: center;
    margin-top: 2rem;
}

.title {
    text-align: center;
    font-size: 5rem;
    margin: auto;
}

.users {
    margin-top: 3rem;
    margin-left: 5%;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;
}

.user {
    font-family: 1.4rem;
    display: flex;
    gap: 2rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 0.5rem;
    border-bottom: none;
}



.link {
    cursor: pointer;
    color: white;
    background-color: #dc5b3e;
    max-width: 10rem;
    padding: 0.2rem 0.8rem;
    border-radius: 4px;
    text-align: center;
}
.links {
    cursor: pointer;
    color:  #dc5b3e;
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 600;
}
